QPushButton {
    background-color: transparent;
    border-image: url(:/images/images/lock.png) stretch stretch;
    border-style: outset;
    border-width: 3px;
    border-radius: 25px;
    border-color: rgb(50, 0, 140);
    font: bold 30px;
    padding: 10px;
}

QPushButton:pressed {
    background-color: rgb(224, 0, 0);
    border-style: inset;
}
QPushButton:hover:enabled {
    color: red;
    border-color: red;
}
QPushButton:enabled {
    color: rgb(50, 0, 140);
}
